*{
    margin: 0;
    padding: 0;
}
body{
    background: black;
}
header{
    text-align: center;
    color: white;
}
section{
    background: white;
    border-radius: 15px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow:  10px 5px 10px rgba(0, 0, 0, 0.363); 
    text-align: center;
}
select{
    width: 170px;
}
#res {
    display: flex;
    justify-content: space-evenly;  
}
#btAdcionar{
    width: auto;
    height: 30px;
    margin-top: 4px;
    padding: 3px;
    border: 2px solid rgba(13, 247, 13, 0.281);
    border-radius: 20px ;
}
#res button{
    width: auto;
    height: 30px;
    margin-top: 90px;
    padding: 3px;
    border: 2px solid rgba(0, 0, 0, 0.363);
    border-radius: 20px ;
    
}
#result button{
    width: auto;
    height: 30px;
    margin-top: 15px;
    padding: 3px;
    border: 2px solid rgba(0, 0, 0, 0.363);
    border-radius: 20px ;
    
}